{% extends "accounts/base.html" %}
{% block title %}Meus Dados{% endblock %}
{% block content %}

<h2>Meus Dados</h2>

<div style="display: flex; flex-wrap: wrap; gap: 10px; flex-direction: column;">
  {% for dado in dados %}
    <div style="border: 1px solid #ccc; padding: 10px;">
      <p><strong>ID Prova:</strong> {{ dado.id_prova }}</p>
      <p><strong>ID Participante:</strong> {{ dado.id_participante }}</p>
      <p><strong>Leitura:</strong> {{ dado.leitura }}</p>
      <p><strong>Enviada em:</strong> {{ dado.criado_em|date:"d/m/Y H:i" }}</p>

      <a href="{% url 'editar_dado' dado.id %}">✏️ Editar</a> |
      <a href="{% url 'deletar_dado' dado.id %}" onclick="return confirm('Tem certeza que deseja deletar?')">🗑️ Deletar</a>
    </div>
  {% empty %}
    <p>Você ainda não tem dados.</p>
  {% endfor %}
</div>

{% endblock %}
